In [1]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

## Python

In [2]:
3 * 4

12

In [3]:
12 + 3

15

<br><br><br><br>

## Names

In [4]:
24 * 7

168

In [5]:
hours_per_week = 24 * 7

In [6]:
hours_per_week

168

In [7]:
hours_per_week * 60

10080

Calculate the number of seconds in a year.

In [8]:
60 * 60 * 24 * 365

31536000

In [9]:
seconds_per_year = 60 * 60 * 24 * 365

In [10]:
seconds_per_year

31536000

In [11]:
seconds_per_hour = 60 * 60
hours_per_year = 24 * 365
seconds_per_year = seconds_per_hour * hours_per_year
seconds_per_year

31536000

<br><br><br><br>

## Functions

In [12]:
abs(-5)

5

In [13]:
abs(3-8)

5

In [14]:
max(3, 4)

4

In [15]:
y = max(3, 4)

In [16]:
y

4

<br><br><br><br>

## Tables

In [17]:
Table.read_table('flowers.csv')

Petals | Name      | Color
8      | lotus     | pink
34     | sunflower | yellow
5      | rose      | red

In [18]:
flowers = Table.read_table('flowers.csv')

In [19]:
flowers

Petals | Name      | Color
8      | lotus     | pink
34     | sunflower | yellow
5      | rose      | red

<br><br><br><br>

## Table operations: selecting columns

In [ ]:
flowers.select('Petals')

In [ ]:
flowers

In [ ]:
petals = flowers.select('Petals')

In [ ]:
petals

In [ ]:
flowers.select('Petals', 'Name')

In [ ]:
flowers.drop('Color')

In [ ]:
flowers

## Table operations: Sorting

In [ ]:
movies = Table.read_table('top_movies_by_title.csv')

In [ ]:
movies

In [ ]:
movies.show(3)

In [ ]:
movies.sort('Gross')

In [ ]:
movies.sort('Gross', descending=True)

In [ ]:
sorted_by_gross = movies.sort('Gross', descending=True)

In [ ]:
sorted_by_gross.sort('Studio')

In [ ]:
sorted_by_gross.sort('Studio', distinct=True)

## Visualization

In [ ]:
top_per_studio = sorted_by_gross.sort('Studio', distinct=True)

In [ ]:
top_per_studio.barh('Studio', 'Gross')

In [ ]:
top_studios = top_per_studio.sort('Gross', descending=True)
top_studios.barh('Studio', 'Gross')

In [ ]:
just_revenues = top_studios.select('Studio', 'Gross', 'Gross (Adjusted)')

In [ ]:
just_revenues

In [ ]:
just_revenues.barh('Studio')

In [ ]:
sorted_by_year = top_studios.sort('Year')
revenues_by_year = sorted_by_year.select('Studio', 'Gross', 'Gross (Adjusted)')
revenues_by_year.barh('Studio')

In [ ]:
sorted_by_year

## Table operations: where

In [ ]:
# This table can be found online: https://www.statcrunch.com/app/index.php?dataid=1843341
nba = Table.read_table('nba_salaries.csv')

In [ ]:
nba

In [ ]:
nba.sort('2015-2016 SALARY')

In [ ]:
nba.where('2015-2016 SALARY', are.above(10))

In [ ]:
nba.where('2015-2016 SALARY', are.above(10)).sort('2015-2016 SALARY')

In [ ]:
nba.where('PLAYER', are.equal_to('Stephen Curry'))

In [ ]:
nba.where('TEAM', are.equal_to('Golden State Warriors'))

In [ ]:
nba.where('TEAM', are.equal_to('Golden State Warriors')).sort('2015-2016 SALARY', descending=True)

In [ ]:
nba.where('2015-2016 SALARY', are.between(10, 12))